.root {
    fx-background-color: #000;
}

.label {
    -fx-text-fill: rgb(12, 12, 12);
    -fx-font: 15 Arial;
}

.text-input {

    -fx-background-radius: 5px;
    -fx-border-color: #12223b;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}


.button {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(56, 103, 165);
    -fx-text-fill: #fff;
    -fx-border-color: rgb(56, 103, 165);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font: 13 Arial;
    
}

.button:hover {
    -fx-background-radius: 5px;
    -fx-background-color: rgb(46, 79, 122);
    -fx-text-fill: #fff;
    -fx-border-color: rgb(46, 79, 122);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font: 13 Arial;
}

.text-area {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #12223b;
}

.text-area .scroll-pane {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.text-area .scroll-pane .content{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}